<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/png" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/app.css" type="text/css" />
  <title><%= appname %></title>
  <style>
    .bg-primary, .btn-primary {
      background-color: #3244a2 !important;
    }
    .text-primary {
      color: #3244a2 !important;
    }
    body {
      background-position: center center;
    }

  </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-primary text-white py-0 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center py-2">
      <img class="logo mr-3" src="/images/logo.png" alt="logo">
      <h4 class="font-weight-normal app-title"><%= appname %>
      </h4>
    </div>
    <div>
      <a href="/ballots/logout" class="btn btn-outline-light">logout</a>
    </div>
  </nav>

  <main class="container-fluid">
    <section class="row space">
      <div class="col-md-8 offset-2 mb-4 text-white text-center">
        <div class="mb-2">
          <h2><%= election.title %></h2>
        </div>
        <div class="text-white bg-danger py-2 mb-4" style="border-radius: 20px;">
          <h4>Select Your Prefered Candidates and Submit Your Vote</h4>
          <h4>NOTE: YOU CAN ONLY VOTE ONCE!!!</h4>
        </div>
      </div>
      <form id="ballot-form" method="POST" action='<%= "/ballots/new?election_id=" + election._id %>'></form>
    <% election.positions.forEach(p => { %>
      <div class="col-md-4 mb-4">
        <h4 class="text-white text-center px-2 py-2 mb-0 bg-dark"><%= p.title %></h4>
        <ul class="list-group py-4 bg-white">
          <% candidates.forEach( c => { %>
          <% if (c.position == p.title) { %> 
          <li class="list-group-item p-2 lc mx-2" style="border-radius: 16px;">
            <div>
              <label for='<%= c._id %>' class="d-flex align-items-center justify-content-between w-100">
                <div class="d-inline-block mx-4 align-self-start py-2">
                  <p class="lead text-primary"><strong><%= c.surname + ", " + c.first_name + " " + c.middle_name %></strong></p>
                  <% if (c.party) { %>
                    <p class="subtitle">
                      <%= c.party.name %>
                    </p>
                  <% } %>
                </div>

                <div class="mx-2">
                  <input required type="radio" name='<%= p.title %>' style="display: inline-block; width: 35px; height: 35px" id='<%= c._id %>' value='<%= c._id %>' form="ballot-form">
                </div>
              </label>
            </div>
          </li>
          <% } %>
          <% }) %>
        </ul>
      </div>
    <% }) %>
  </div>
  <div class="col-8 offset-2 py-4 bg-white">
    <button type="submit" form="ballot-form" class="btn btn-success btn-lg w-100">Submit Voting</button>
  </div>
</section>
</main>

  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>