<%- include ('partials/top') %>
    <div class="row space">
      <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
        <a href="/candidates" class="card bg-white text-dark d-flex p-2 align-items-center">
          <i class="fa fa-address-book-o icon" aria-hidden="true"></i>
          <div class="d-inline-block text-center">
            <h4 class="card-title display-4"><%= 0 %></h4>
            <p class="card-text">Candidates</p>  
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
        <a href="/parties" class="card bg-primary text-white d-flex p-2 align-items-center">
          <i class="fa fa-flag-checkered icon" aria-hidden="true"></i>
          <div class="d-inline-block text-center">
            <h4 class="card-title display-4"><%= 0 %></h4>
            <p class="card-text">Parties</p>  
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
        <a href="/elections" class="card bg-danger text-white d-flex p-2 align-items-center">
          <i class="fa fa-compass icon" aria-hidden="true"></i>
          <div class="d-inline-block text-center">
            <h4 class="card-title display-4"><%= 0 %></h4>
            <p class="card-text">Elections</p>  
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
        <a href="/voters" class="card bg-success text-white d-flex p-2 align-items-center">
          <i class="fa fa-users icon" aria-hidden="true"></i>
          <div class="d-inline-block text-center">
            <h4 class="card-title display-4"><%= 0 %></h4>
            <p class="card-text">Voters</p>  
          </div>
        </a>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
        <a href="/users" class="card bg-info text-white d-flex p-2 align-items-center">
          <i class="fa fa-user-circle icon" aria-hidden="true"></i>
          <div class="d-inline-block text-center">
            <h4 class="card-title display-4"><%= 0 %></h4>
            <p class="card-text">Users</p>  
          </div>
        </a>
      </div>
    </div> 

  </main>
</div>

</div>

<%- include('partials/bottom') %>