<%- include ('partials/top') %>
  <div class="row space">
    <div class="col-12 d-flex justify-content-between align-items-center underline pb-2">
      <h3 class="title text-white">Parties</h3>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
        Add New Party
      </button>
    </div> 
  </div>
  
  <div class="row">
    <div class="col-12">
      <form id="search-form" method="GET" action="/parties?" class="form-inline">
        <div class="form-group mb-4">
          <input required type="text" name="search" id="search-box" class="form-control" placeholder="Search by name...">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
      <h4 class="font-weight-light text-center text-white bg-primary p-2 m-0 table-top">List of Political Parties</h4>
      <table class="table table-bordered table-striped text-white">
        <thead class="font-weight-bold">
          <tr>
            <td>Party Photo</td>
            <td>Party Name</td>
            <td>Motto</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% parties.forEach((m) => { %>
            <tr>
              <td style="width: 100px">
                <img class="table-thumbnail" src='<%= "/images/" + m.photo  %>'>
              </td>
              <td><%= m.name %></td>
              <td><%= m.motto %></td>
              <td>
                <a href='<%= "/parties/remove/" + m._id %>' class="btn btn-sm btn-danger mx-1 my-1">Remove</a>
              </td>
            </tr>
          <% }) %>          
        </tbody>
      </table>
    </div>
  </div>
</main>
</div>

</div>

 <!-- Modal -->
 <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Party</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form action="/parties/new" method="POST" enctype="multipart/form-data">
          
          <fieldset class="border p-2 rounded row">
            <legend>Party Details</legend>
            <div class="form-group col-12">
              <label>Party Name: <strong class="text-danger">*</strong></label>
              <input required type="text" class="form-control" name="name">
            </div>
            <div class="form-group col-12">
              <label>Motto: <strong class="text-danger">*</strong></label>
              <textarea class="form-control" name="motto"></textarea>
            </div>
            <div class="form-group col-12">
              <label>Party Photo (Symbol)</label>
              <input type="file" name="photo" class="form-control">
            </div>
          </fieldset>
          <div class="form-group mt-4">
            <button class="btn btn-success form-control" type="submit">Add New Party</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  

<%- include ('partials/bottom') %>